/* ================= GLOBAL RESET ================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

/* ================= SECTION ================= */

.achievements-section {
  width: 100%;
  padding: 10px 0;
background: linear-gradient(135deg, #000101 0%, #01030c 50%, #000000 100%);
}

.achievements-container {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

/* ================= MAIN HEADING ================= */

.main-heading {
  font-family: Unbounded, sans-serif;
font-size: 63.2294px;
font-weight: 700;
line-height: 63.2294px;
color: rgb(255, 255, 255);
  background: linear-gradient(90deg, #3ec6ff, #9eff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* ================= LABEL ================= */

.awards-label {
  color: #ffcc00;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

/* ================= CONTENT ================= */

.achievement-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1px;
}

.achievement-left {
  width: 55%;
}

.achievement-left h3 {
  font-family: Unbounded, "Unbounded Fallback";
font-size: 36.3569px;
font-weight: 300;
line-height: 43.6283px;
color: rgb(255, 255, 255);
  margin-bottom: 30px;
    width: 40%;

}

.achievement-left p {
  font-family: Inter, "Inter Fallback";
font-size: 15.8074px;
font-weight: 400;
line-height: 26.8725px;
color: rgb(255, 255, 255);
  opacity: 0.9;
  width: 40%;
  margin-left: 23rem;
  margin-top: -7rem;
}

.achievement-right {
  width: 40%;
}

.achievement-right img {
  width: 80%;
  height: 220px;
  object-fit: cover;
  margin-top: -11rem;
  margin-left: -5rem;
}

/* ================= DIVIDER ================= */

.divider {
  width: 60%;
  height: 1px;
  background: rgba(255,255,255,0.3);
  margin: 10px 0;
}

/* ================= CONTROLS ================= */

.slider-controls {
  display: flex;
  gap: 20px;
  margin-left: 36rem;
}

.nav-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.4);
  background: transparent;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-btn.active {
  border-color: #fff;
}

.nav-btn:hover {
  transform: scale(1.1);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {

  .main-heading {
    font-size: 70px;
    line-height: 80px;
  }

  .achievement-left h3 {
    font-size: 36px;
    line-height: 46px;
  }

}

@media (max-width: 768px) {

  .achievement-content {
    flex-direction: column;
  }

  .achievement-left,
  .achievement-right {
    width: 100%;
  }

  .achievement-right img {
    height: 300px;
  }

  .main-heading {
    font-size: 50px;
    line-height: 60px;
  }

}
